@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Black-webfont.eot' );
    src: url( '../fonts/Roboto-Black-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Black-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Black-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Black-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-BlackItalic-webfont.eot' );
    src: url( '../fonts/Roboto-BlackItalic-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-BlackItalic-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-BlackItalic-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-BlackItalic-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Bold-webfont.eot' );
    src: url( '../fonts/Roboto-Bold-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Bold-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Bold-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Bold-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-BoldItalic-webfont.eot' );
    src: url( '../fonts/Roboto-BoldItalic-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-BoldItalic-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-BoldItalic-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-BoldItalic-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Regular-webfont.eot' );
    src: url( '../fonts/Roboto-Regular-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Regular-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Regular-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Regular-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Italic-webfont.eot' );
    src: url( '../fonts/Roboto-Italic-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Italic-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Italic-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Italic-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Light-webfont.eot' );
    src: url( '../fonts/Roboto-Light-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Light-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Light-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Light-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-LightItalic-webfont.eot' );
    src: url( '../fonts/Roboto-LightItalic-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-LightItalic-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-LightItalic-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-LightItalic-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Medium-webfont.eot' );
    src: url( '../fonts/Roboto-Medium-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Medium-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Medium-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Medium-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-MediumItalic-webfont.eot' );
    src: url( '../fonts/Roboto-MediumItalic-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-MediumItalic-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-MediumItalic-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-MediumItalic-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-Thin-webfont.eot' );
    src: url( '../fonts/Roboto-Thin-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-Thin-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-Thin-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-Thin-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url( '../fonts/Roboto-ThinItalic-webfont.eot' );
    src: url( '../fonts/Roboto-ThinItalic-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/Roboto-ThinItalic-webfont.woff' ) format( 'woff' ),
    url( '../fonts/Roboto-ThinItalic-webfont.ttf' ) format( 'truetype' ),
    url( '../fonts/Roboto-ThinItalic-webfont.svg#Roboto' ) format( 'svg' );
    font-weight: 100;
    font-style: italic;
}