/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #444;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #ed3333;
    border-bottom: none;
}

.left {
    float: left;
}
.right {
    float: right;
}
.wrap {
    width: 960px;
    margin: 0 auto;
    padding: 0 10%;
}

.columns {
    .col {
        float: left;
    }

    /* 2 Columns */
    .col2 {
        width: 45%;
        margin-right: 5%;
    }
    .col2:nth-child(2n) {
        margin: 0 0 0 5%;
    }

    /* 3 Columns */
    .col3 {
        width: 30%;
        margin-right: 5%;
    }
    .col3:nth-child(3n) {
        margin-right: 0;
    }
}

header {
    line-height: 2em;
    #logo,nav {
        margin: 2em 0;
    }
    nav {
        font-size: 1em;
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                float: left;
                margin: 0 0.5em;
                padding-bottom: 0.7em;
                a {
                    color: #231f20;
                    display: block;
                    padding: 0.8em 1.4em;
                    border-radius: 0.4em;
                    -moz-border-radius: 0.4em;
                    -webkit-border-radius: 0.4em;
                }
            }
            li:hover,li.current-menu-item {
                background: url( '@{themeurl}/img/nav-under.png' ) no-repeat 50% bottom;
                a {
                    background: #ed3333;
                    color: white;
                }
            }
        }
    }
}

#title {
    background: #f3f3f3;
    padding: 2em 0;
    margin-bottom: 2em;
    h1 {
        margin: 0;
        font-size: 3.6em;
        font-weight: 100;
        line-height: 1.2em;
    }
    .home {
        p {
            line-height: 2.2em;
            margin-top: 1.5em;
        }
        .left, .right {
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
        }
        .left {
            width: 46%;
            margin-right: 4%;
        }
        .right {
            width: 46%;
            margin-left: 4%;
            margin: 1em 0;
            padding: 1em;
            background: #dcdcdc;
            border-radius: 0.4em;
            -moz-border-radius: 0.4em;
            -webkit-border-radius: 0.4em;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

#cta {
    margin-bottom: 2em;
    font-size: 1.2em;
    .left {
        width: 24%;
        margin-right: 4%;
        line-height: 3em;
        text-align: center;
        background: #20aada;
        border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        -webkit-border-radius: 0.4em;
        a {
            display: block;
            color: white;
            text-transform: uppercase;
        }
        a:hover {
            color: #006385;
        }
    }
    .right {
        width: 72%;
        font-weight: normal;
    }
}

#details {
    line-height: 2em;
    margin-bottom: 2em;
    h2,p.img {
        text-align: center;
    }
    img {
        transition: width 1s, height 1s;
        -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
    }
    .col:hover > p.img img {
        transform: rotateX( 360deg );
        -webkit-transform: rotateX( 360deg ); /* Safari */
    }
    h2 {
        font-size: 1.8em;
        font-weight: normal;
        margin: 0;
    }
}

#reviews {
    margin-bottom: 2em;
    background: url( '@{themeurl}/img/reviews-under.png' ) no-repeat center bottom;
    padding-bottom: 1em;
    #user-reviews {
        background: #f3f3f3;
        border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        -webkit-border-radius: 0.4em;
        .review {
            padding: 1em 20%;
            text-align: center;
            font-size: 1.2em;
            display: none;
            p.author {
                font-size: 0.8em;
                text-align: right;
                font-style: italic;
            }
        }
        .review:first-child {
            display: block;
        }
    }
}

#main {
    font-size: 1.2em;
    margin-bottom: 2em;
    code {
        font-size: 0.8em;
    }
    aside {
        float: left;
        width: 24%;
        margin-right: 4%;
        h3 {
            margin: 0 0 0.5em 0;
        }
        ul {
            margin: 0;
            font-size: 0.9em;
        }
        .widget {
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: #f3f3f3 5px solid;
            #searchform {
                #s {
                    margin-top: 0.5em;
                }
                input {
                    width: 100%;
                    outline: 0;
                    padding: 0.6em 0;
                    font-size: 0.8em;
                    border-radius: 0.4em;
                    -moz-border-radius: 0.4em;
                    -webkit-border-radius: 0.4em;
                    border: #ccc 1px solid;
                }
                input[type="submit"] {
                    line-height: 0.8em;
                    width: auto;
                    text-align: center;
                    background: #20aada;
                    border: none;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 200;
                    margin-top: 0.5em;
                    padding: 0.6em;
                }
            }
            table {
                width: 100%;
                caption {
                    margin-bottom: 1em;
                    font-size: 1.2em;
                    font-weight: 200;
                    text-align: left;
                }
            }
            table#wp-calendar {
                font-size: 0.8em;
                text-align: center;
                td a {
                    font-weight: bold;
                }
            }
        }
    }
    article {
        padding-bottom: 1em;
        border-bottom: #f3f3f3 5px solid;
        h2,p.meta {
            margin: 0;
        }
        p.meta {
            font-size: 0.8em;
            margin-bottom: 1em;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        img.post-thumb {
            float: left;
            margin: 0 2em 1em 0;
            max-width: 25%;
        }
        p {
            margin-top: 0;
        }
    }
}
#main.blog {
    #blog-posts {
        article {
            margin-bottom: 2em;
        }
        article:last-child {
            margin-bottom: 0;
        }
        float: right;
        width: 72%;
    }
}

#main.portfolio {
    article {
        padding: 0;
        float: left;
        width: 20%;
        overflow: hidden;
        margin: 0 5% 0 0;
        img.post-thumb.full-width {
            width: 100%;
            max-width: 100%;
            height: auto;
            margin-bottom: 1em;
        }
    }
    #portfolio article {
        width: 100%;
    }
}

#contact {
    form#contact-form {
        width: 52%;
        float: right;
        background: #f3f3f3;
        padding: 1em 10%;
        border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        -webkit-border-radius: 0.4em;
        .row {
            margin: 1em 0;
            .label {
                float: left;
                width: 15%;
                margin-right: 5%;
                text-align: right;
            }
            .field {
                float: right;
                width: 80%;
                input, textarea {
                    width: 100%;
                    outline: 0;
                    padding: 0.6em;
                    font-size: 0.8em;
                    border-radius: 0.4em;
                    -moz-border-radius: 0.4em;
                    -webkit-border-radius: 0.4em;
                    border: #ccc 1px solid;
                }
                textarea { height: 6em; }
                input[type="submit"] {
                    width: auto;
                    text-align: center;
                    background: #20aada;
                    border: none;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 200;
                    font-size: 1em;
                }
            }
        }
    }
}

footer {
    background: #444;
    padding: 1em 0;
    text-align: center;
    color: #929292;
    font-size: 0.9em;
    p {
        margin: 0.5em 0;
    }
    a {
        color: #c8c8c8;
    }
    a:hover {
        color: black;
    }
}

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}​

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 980px) {
    /* Style adjustments for viewports that meet the condition */
    .left, .right {
        width: 100% !important;
        float: none !important;
    }
    .wrap {
        width: 80%;
        text-align: center;
    }
    article {
        text-align: left;
    }
    #main.portfolio article {
        width: 100% !important;
        margin: 0 !important;
    }
    header {
        height: auto;
        .left,.right {
            float: none;
        }
        #logo, nav {
        }
        #logo {
            text-align: center;
        }
        nav {
            ul {
                li {
                    float: none;
                    padding: 0;
                    a {
                            padding: 0.4em 1.4em;
                    }
                }
                li:hover,li.current-menu-item {
                    background: none;
                }
            }
        }
    }
    #details {
        .columns {
            .col {
                float: none;
                width: 100%;
            }
        }
    }
    #main {
        aside {
            display: none;
        }
        #blog-posts {
            width: 100% !important;
            float: none !important;
        }
    }
    #contact {
        aside {
            display: block;
            float: none;
            width: 100%;
            text-align: center;
        }
        #contact-form {
            width: 80% !important;
            float: none;
            .label, .field {
                float: none !important;
                width: 100% !important;
                text-align: left !important;
            }
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
